<!-- Specific JS goes HERE -->
{% extends "layouts/base1.html" %}

{% block title %} View Medication {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-title">Predict Prescriptions</h4>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Medications</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-success">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Medicine</th>
                                    <th scope="col">Dosage</th>
                                    <th scope="col">Frequency</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in med %}
                                <tr>
                                    {% for d in m %}
                                        <td>{{d}}</td>
                                    {% endfor %}
                                    
                                </tr> 
                                {% endfor %}
                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Protected Health Information</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-success">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in protected_health_info %}
                                <tr>
                                    {% for d in m %}
                                        <td>{{d}}</td>
                                    {% endfor %}

                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Treatment Procedures</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-success">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in test_treatment %}
                                <tr>
                                    <td>{{m}}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Medical Condition</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-success">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in medicalCondition %}
                                <tr>
                                    <td>{{m}}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Anatomy</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-success">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in Anatomy %}
                                <tr>
                                    <td>{{m}}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

	
{% endblock javascripts %}