{% extends "layouts/base1.html" %} {% block title %} Digitized Prescription {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-6">
        <div class="card p-5">
          <div class="card-img">
            <img src="{{annotated_image_uri}}" width="100%" alt="pres" />
          </div>
        </div>
      </div>
      <div class="col-md-6 p-5">
        <div class="card">
          <img src="{{digitised_image_uri}}" width="100%" alt="pres" />
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="card">
        <embed src="{{digitised_pdf_uri}}" type="application/pdf"
        frameBorder="0" scrolling="auto" width="400%" height="600px"></embed>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}